#image-base > img {
  height: 300px;
  width: 230px;
  border-radius: 10px; 
}

#image-base{
  position: absolute;
}

#card-base{
  padding-left: 30px;
  overflow: scroll;
  user-select: none;
}

#status{
  margin-top: 10px;
  background-color: white;
  position: absolute;
  color: black;
  width: 70px;
  margin-left: 10px;
  text-align: center;
  height: 22px;
  padding-top: 3px;
  border-radius: 2px;
}

#star{
  padding-top: 310px; 
  width: 140px;
  position: relative;
}

#star{
  display: flex;
}

#star > span{
  content: "\2022";
}

#star-2{
  margin-top: 4px;
  display: flex;
  width: 140px;
  justify-content: space-evenly;
}

#desc{
  margin-top: 10px;
}

#price{
  margin-top: 5px;
}


